# Dependências
node_modules/

# Logs e arquivos de sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.log

# IDEs e editores
.vscode/
.idea/

# Arquivos de build ou temporários
dist/
build/
*.tmp
